{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}

<div class="container bg-light">
    <br>
    <h1 class="text-danger">Hosting on Azure Cloud</h1>


    <h4>Set Up Azure Cloud Account</h4>
    <br>
    <a class="btn btn-outline-danger" href=https://azure.microsoft.com/en-us/free/students/ class="btn">Sign Up Here</a><br>
    <hr>
    <h4>Login in Command Line Terminal</h4>


    <p>To use our Azure cloud, we need to login to our Azure account.</p>

    <p>Enter this command to login to Azure.</p>
    <div class="card">
        <div class="card-body text-danger">
            docker login azure
        </div>
    </div>
    <p>After entering this command, we will be prompted to login with our browser.</p>
    <hr>

    <h4>Create an ACI</h4>


    <p>To use our Azure cloud, we need to create an ACI.</p>

    <p>Enter this command to create ACI.</p>
    <div class="card">
        <div class="card-body text-danger">
            docker context create aci <i>aci_name</i>
        </div>
    </div>


    <hr>


    <h4>Push Image to Dockerhub</h4>


    <p>Before we push image to docker, we must login to our account using command line.</p>

    <p>Enter this command to login</p>
    <div class="card">
        <div class="card-body text-danger">
            docker login
        </div>
    </div>


    <p>Then, we need to push our image to docker hub.</p>

    <p>Enter this command to login</p>
    <div class="card">
        <div class="card-body text-danger">
            docker push <i>image_name</i>
        </div>
    </div>


    <hr>

    <h4>Pull Image from Docker Hub to Azure Cloud</h4>


    <p>Before we push image to docker, we must use our ACI.</p>

    <p>Enter this command to use ACI</p>
    <div class="card">
        <div class="card-body text-danger">
            docker context use <i>aci_name</i>
        </div>
    </div>


    <p>Then, we need to run our image on our Azure Cloud.</p>

    <p>Enter this command to host our image on Azure Cloud</p>
    <div class="card">
        <div class="card-body text-danger">
            docker run --domainname <i>unique_domain_name</i> -dp 80:80 <i>dockerhub_userID/repository_name</i>

        </div>
    </div>

    <hr>
    <h4>See our Website Hosted on IP address</h4>


    <p>Now, we can view our website on an IP address.</p>

    <p>Enter this command to view our IP address</p>
    <div class="card">
        <div class="card-body text-danger">
            docker ps
        </div>
    </div>

    <p> We will see that our image is now hosted.</p>
    <p> Our IP address will be under the Ports section. </p>


    <br><br>

</div>

{% endblock %}
